@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 2rem;
    text-align: center;
  }
  

.active{
  color: rgb(218, 82, 24);
  /* background-color: blue; */
}


body {
  color: rgb(0, 0, 0);
  background-color: white;
}

.dark-mode {
  color: #ffffff;
  background-color: rgb(14, 13, 13);
}